{% extends 'global/base.html' %}

{% block title %}{{title}}{% endblock title %}
<body>
    {% include 'recipes/partials/header.html' %}
    {% include 'recipes/partials/search.html' %}

    {% block content %}
        <div class="main-content main-content-list container">
            {% for recipe in recipes %}
                {% include 'recipes/partials/recipe.html' %}
            {% endfor %}
        </div>
    {% endblock content %}
    {% include 'recipes/partials/footer.html' %}
</body>
</html>